flows.json
[{"id":"f44a0c0.3f959f8","label":"new package","type":"tab"},{"id":"eb5a5af3.9f34a8","type":"webcam","z":"f44a0c0.3f959f8","name":"","subtype":"webcam","x":228,"y":332,"wires":[["3d4dc6fd.c85efa"]]},{"id":"3d4dc6fd.c85efa","type":"openface","z":"f44a0c0.3f959f8","name":"","x":443,"y":333,"wires":[["bd7a84d9.1fd708"]]},{"id":"bd7a84d9.1fd708","type":"uibuilder","z":"f44a0c0.3f959f8","name":"","templates":{"d0297113.47bf4":{"id":"d0297113.47bf4","label":"circle:d0297113.47bf4","type":"circle","cx":550,"cy":327,"r":50,"style":{"fill":"white","stroke":"black","stroke-width":1,"opacity":1},"enterFn":{"enter":{"params":["data","index"],"body":"return true"},"key":{"params":["data","index"],"body":"const lookup=(data)=>[\"payload\"].reduce((acc,item)=>{return acc[item]},data)[\"id\"]; return lookup(data)"}}}},"mappings":[{"mappingId":"ac613f1.d2783c","ttype":"attribute","from":{"sourceId":"3d4dc6fd.c85efa","key":"cx","path":["payload","point"],"type":"number"},"to":{"path":["d0297113.47bf4"],"type":"circle","property":"cx"}},{"mappingId":"90575de0.f6ab4","ttype":"attribute","from":{"sourceId":"3d4dc6fd.c85efa","key":"cy","path":["payload","point"],"type":"number"},"to":{"path":["d0297113.47bf4"],"type":"circle","property":"cy"}},{"mappingId":"4e4452d7.82a1bc","ttype":"attribute","from":{"sourceId":"3d4dc6fd.c85efa","key":"r","path":["payload","point"],"type":"number"},"to":{"path":["d0297113.47bf4"],"type":"circle","property":"r"}}],"transformers":{"ac613f1.d2783c":"return cx * w","90575de0.f6ab4":"return cy * h","4e4452d7.82a1bc":"return r * h"},"canvasdimensions":{"w":1110,"h":644.4166666666666},"tree":{"ac613f1.d2783c":{"node":{"nid":"bd7a84d9.1fd708","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"3d4dc6fd.c85efa","type":"openface","category":"processors","color":"#002255","unicode":"f0c0"},"parents":[{"node":{"nid":"eb5a5af3.9f34a8","type":"webcam","category":"datastores","color":"#ffcc00","unicode":"f03d"},"parents":[]}]}]},"90575de0.f6ab4":{"node":{"nid":"bd7a84d9.1fd708","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"3d4dc6fd.c85efa","type":"openface","category":"processors","color":"#002255","unicode":"f0c0"},"parents":[{"node":{"nid":"eb5a5af3.9f34a8","type":"webcam","category":"datastores","color":"#ffcc00","unicode":"f03d"},"parents":[]}]}]},"4e4452d7.82a1bc":{"node":{"nid":"bd7a84d9.1fd708","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"3d4dc6fd.c85efa","type":"openface","category":"processors","color":"#002255","unicode":"f0c0"},"parents":[{"node":{"nid":"eb5a5af3.9f34a8","type":"webcam","category":"datastores","color":"#ffcc00","unicode":"f03d"},"parents":[]}]}]}},"x":685,"y":334,"wires":[["fba5cb60.271928"]]},{"id":"fba5cb60.271928","type":"app","z":"f44a0c0.3f959f8","name":"","appId":"webapp","layout":null,"x":887,"y":333,"wires":[]}]