flows.json
[{"id":"f44a0c0.3f959f8","label":"new package","type":"tab"},{"id":"eb5a5af3.9f34a8","type":"webcam","z":"f44a0c0.3f959f8","name":"","subtype":"webcam","x":228,"y":332,"wires":[["3d4dc6fd.c85efa"]]},{"id":"3d4dc6fd.c85efa","type":"openface","z":"f44a0c0.3f959f8","name":"","x":443,"y":333,"wires":[["bd7a84d9.1fd708"]]},{"id":"bd7a84d9.1fd708","type":"uibuilder","z":"f44a0c0.3f959f8","name":"","templates":{"d0297113.47bf4":{"id":"d0297113.47bf4","label":"circle:d0297113.47bf4","type":"circle","cx":550,"cy":327,"r":50,"style":{"fill":"white","stroke":"black","stroke-width":1,"opacity":1}}},"mappings":[{"mappingId":"99597b79.ade628","ttype":"attribute","from":{"sourceId":"3d4dc6fd.c85efa","key":"payload","path":[],"type":"array"},"to":{"path":["d0297113.47bf4"],"type":"circle","property":"cx"}},{"mappingId":"f07123aa.6188f","ttype":"attribute","from":{"sourceId":"3d4dc6fd.c85efa","key":"payload","path":[],"type":"array"},"to":{"path":["d0297113.47bf4"],"type":"circle","property":"cy"}},{"mappingId":"1778a4f1.d92f0b","ttype":"attribute","from":{"sourceId":"3d4dc6fd.c85efa","key":"payload","path":[],"type":"array"},"to":{"path":["d0297113.47bf4"],"type":"circle","property":"r"}}],"transformers":{"99597b79.ade628":"return payload[0].bb.cx*w","f07123aa.6188f":"return payload[0].bb.cy*h","1778a4f1.d92f0b":"return payload[0].bb.r * h"},"canvasdimensions":{"w":1110,"h":644.4166666666666},"tree":{"99597b79.ade628":{"node":{"nid":"bd7a84d9.1fd708","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"3d4dc6fd.c85efa","type":"openface","category":"processors","color":"#002255","unicode":"f0c0"},"parents":[{"node":{"nid":"eb5a5af3.9f34a8","type":"webcam","category":"datastores","color":"#ffcc00","unicode":"f03d"},"parents":[]}]}]},"f07123aa.6188f":{"node":{"nid":"bd7a84d9.1fd708","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"3d4dc6fd.c85efa","type":"openface","category":"processors","color":"#002255","unicode":"f0c0"},"parents":[{"node":{"nid":"eb5a5af3.9f34a8","type":"webcam","category":"datastores","color":"#ffcc00","unicode":"f03d"},"parents":[]}]}]},"1778a4f1.d92f0b":{"node":{"nid":"bd7a84d9.1fd708","type":"uibuilder","category":"processors","color":"#002255","unicode":"f03e"},"parents":[{"node":{"nid":"3d4dc6fd.c85efa","type":"openface","category":"processors","color":"#002255","unicode":"f0c0"},"parents":[{"node":{"nid":"eb5a5af3.9f34a8","type":"webcam","category":"datastores","color":"#ffcc00","unicode":"f03d"},"parents":[]}]}]}},"x":685,"y":334,"wires":[["fba5cb60.271928"]]},{"id":"fba5cb60.271928","type":"app","z":"f44a0c0.3f959f8","name":"","appId":"webapp","layout":null,"x":887,"y":333,"wires":[]}]